body{
	margin: 0;
}

div.touchable{
	position: relative;
	display: inline-block;
	height: 150px;
	width: 800px;
	padding: 0;
	margin: 0;
}

img.touchable{
	padding: 0;
	margin: 0;
}

div.button{
	float: right;
	position: relative;
	top: -10px;
	right: 10px;
	margin: 0;
	padding: 0;
}
