body{
    margin: 0;
    overflow: hidden;
}

#outer{  
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

img.touchable{
    float: left;
    padding: 0;
    margin: 0;
}

div.touchable{
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-transform-origin: top left;
    position: absolute;
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
    z-index: 5;
}

img.button{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

div.button{
    position: relative;
    right: 0;
    top: 0;
    float: left;
    padding: 0;
    margin: 0;
    margin-right: -50px;
}

img.button.over{
    margin-left: -50px;
    position: relative;
}

div.menu_swipe_area{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

div.menu{
    background: rgb(150,0,0);
    margin: auto;
    text-align: center;
    z-index: -10;
    overflow: hidden;
}

div.menu_container{
    -webkit-transition-property: margin-bottom, margin-top;
    -webkit-transition-duration: 1s, 1s;
}

div.menu_button_container{
    display: inline-block;
    height: 150px;
    overflow: hidden;
    position: relative;
}

div.menu_button{
    float: left;
    margin: 0 10px 0 10px;
    z-index: -5;
}

div.menu_button div.helper{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

img.menu_button{
    height: 80%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    bottom: 0;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: 250ms;
}

div.drawing_menu{
    position: relative;
    top: 25px;
    left: 0px;
    border: 0px solid;
    border-radius: 0 40px 40px 0;
    background-color: rgb(150,0,0);
    -webkit-transition-property: left;
    -webkit-transition-duration: 1s;
    padding: 10px;
}

div.drawing_menu_swipe_area{
    position: fixed;
    left: 0;
    top: 0;
    outline: solid 1px black;
}